<h1>TextAnonymous</h1>

<ul id="chat">
  <%= render @messages %>
</ul>

<%= form_for Message.new, :html => {:multipart => true}, authenticity_token: true, class: "input-group", remote: true do |f| %>
  <%= f.text_field :content, placeholder: "Message", class: "form-control", style: "width: 70%;" %>
  <%= f.submit "Send", class: "btn btn-info" %>
  <%= f.file_field :attachment, class: "btn btn-danger"%>
<% end %>
<%= subscribe_to "/messages/new" %>
